docker
sarge
python-box
google-cloud-storage>=1.15.0
google-auth>=1.6.3
google-cloud-logging
google-cloud-kms
loguru
pytest
GitPython>=2.1.11
ipython
requests
slackclient
better_exceptions
retry
git+git://github.com/botleague/botleague-helpers#egg=botleague-helpers
git+git://github.com/deepdrive/problem-constants#egg=problem-constants


